#toggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40px;
    height: 20px;
    border: 2px solid;
    border-radius: 20px;
    background-color: black;
}

#button {
    position: absolute;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    border-radius: 16px;
    transition: 0.25s;
    background-color: rgb(255, 255, 255);
}


#light {
    width: 18px;
    height: 18px;
}

#dark {
    width: 16px;
    height: 16px;
}